@import url("reset.css");
@import url("global-forms.css");

body {
    background: #F5F4EF;
    color: #000305;
    font-size: 87.5%;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicde', 'Lucida';
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: left;
}
h2 {font-size: 1.571em} 
h3 {font-size: 1.429em}
h4 {font-size: 1.286em} 
h5 {font-size: 1.143em}
h6 {font-size: 1em} 
h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
  }
  li {
      display: inline;
      float: left;
  }
  a {
    display: block;
    padding: 8px;
    background-color: black;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  